<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FLOFL</title>
	<!--bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/Users/esbenbadensmith/dev/FLOFL/public/styles/styleabout.css">
</head>
<body>
	
		<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
    		<div class="row">
				<div>
					<img src="/Users/esbenbadensmith/dev/FLOFL/images/FLOFLlittle.jpg"/>


				</div>
				
					
				
    		</div>
  		</div>
	</nav>




	<div class="container">

		<!--Title Row -->
		<div class="row">
				<!--Navbar -->
				<div class="col.md-12"></div>
		</div>

		<div id="topcontent">
			<div  class="row">
				<!--Club pictures dias -->
				<div class="col-md-offset-3 col-md-6">
				  		<img id="aboutpic" src="/Users/esbenbadensmith/dev/FLOFL/images/aboutpic2.jpg"/>
				</div>
					<!--Description -->
				<div class="col-md-offset-3 col-md-6">
				  		<center><h2>About FLOFL</h2></center>
				  		<p>The ultimate goal is for FLOFL to be able to sense the atmosphere of a room to play the appropriate track for the moment. Experiments will be made with parameters such as weather, temperature, time of day, body movement, desired party type etc...</p>
				</div>
			</div>
			<div  class="row">
				
			  	<div class="col-md-offset-3 col-md-6">
					<h2>Suggestions from users:</h2>
					<h3>Drop tips about awesome new tracks or ways to improve the system</h3>
			  	</div>

			  	<div  class="row">
			  		<div class="col-md-offset-3 col-md-6">
						<ul>
							<li>
							</li>
						<ul>
			  		</div>
		  		</div>
		  	</div>
		</div>
		</div>
	</div>
	
</body>
</html>