<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- tab icon -->
	<link rel="icon" type="image/x-icon" src="http://s51.photobucket.com/user/esbenbsmith/media/FLOFLico_zpsn1xlbdi9.png.html][IMG]http://i51.photobucket.com/albums/f364/esbenbsmith/FLOFLico_zpsn1xlbdi9.png"/>
	<!--title -->
	<title>FLOFL</title>
	<!--bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/styleabout.css">

	

</head>
<body>




		<nav class="navbar navbar-default navbar-fixed-top">
			  	<div class="container">
			    	<div class="row">
						<div class="col-md-1">
							<a href="/">
								<img src="/images/HOUSENAV.png"/>
							</a>
						</div>
						
							 <ul class="nav navbar-nav navbar-right" id="nav-links">
						          <!-- underscore template for nav links -->
						          <script type="text/template" id="nav-template">
						            <% if (currentUser) { %>
						              <li><%= currentUser.email %></li>
						              <li><a href="/logout">Log Out</a></li>
						            <% } else { %>
						              <li><a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
						              <li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
						            <% } %>
						          </script>
						    </ul>
						
			  		</div>
			  	</div>
		</nav>
		

		<!-- Modal -->
		<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="signup-modal">Sign Up</h4>
		      </div>
		      <div class="modal-body">
		        <form method="post" action="/users">
		          
		            	<div class="form-group">
		              		<input type="email" name="user[email]" class="form-control" placeholder="Email">
		            	</div>
		            	<div class="form-group">
		              		<input type="password" name="user[password]" class="form-control" placeholder="Password">
		            	</div>
						<hr>
						<div class="modal-footer">
		            	<input type="submit" value="Sign Up" class="btn btn-warning">
		          		</div>
		        	</form>

		      </div>
		    </div>
		  </div>
		</div>

			<!-- Modal -->
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="login-modal">Sign Up</h4>
		      </div>
		      <div class="modal-body">
		        <form method="post" action="/login">

			            <div class="form-group">
			            	<input type="email" name="user[email]" class="form-control" placeholder="Email">
			            </div>
			            <div class="form-group">
			            	<input type="password" name="user[password]" class="form-control" placeholder="Password">
			            </div>

						<hr>
						<div class="modal-footer">
			           	<input type="submit" value="Log In" class="btn btn-warning">
			          	</div>
			    </form>

		      </div>
		    </div>
		  </div>
		</div>










		<div class="container">

			<!--Title Row -->
			<div class="row" id="aboutlogo">
				<!--logo top -->
				<div class="col-md-offset-3 col-md-6">
					<center>
						<img src="/images/ABOUT.PNG">
					</center>	
				</div>
			</div>

			<div id="topcontent">
				<div  class="row">
					<!--Club pictures dias -->
					<div class="col-md-offset-3 col-md-6">
					  	<center>
					  		<img id="aboutpic" src="/images/ABOUTPIC.PNG">
					  	</center>
					</div>
				</div>
				<br>
				<div  class="row">
						<!--Description -->
					<div class="col-md-offset-3 col-md-6">
					  		<center>
					  			<p>The ultimate goal is for FLOFL to be able to sense the atmosphere of a room to play the appropriate track. The tracks will be based on parameters such as weather, temperature, time of day, body movement, desired party type etc...</p>
					  		</center>
					  		<hr>
					</div>
				</div>
				

				<div  class="row">
					
				  	<div class="col-md-offset-3 col-md-6">
						<h2>Track suggestions</h2>
							<h3>Also for ideas, criticism, and compliments :) </h3>
					
				  	</div>

				  	<div  class="row">
				  		<div class="col-md-offset-3 col-md-6">
				  			<form id="new-suggestion">
								  <div class="form-group">
								    	<input class="form-control" id="posting" type="text" name="text" placeholder="Drop tips about awesome new tracks"/>
								  </div>
								  <div class="form-group">
								    	<input type="submit" class="btn btn-default" value="Submit">
								  </div>
							</form>
							<div id="suggestions" >

								<ul id="suggestionlist">
									
								</ul>
							</div>
				  		</div>
			  		</div>
			  	</div>
			</div>
		</div>

	

	<script id="suggestiontemplate" type="text/template">
		<li class="suggestion" >
			<p class="lead"><%= text %></p>
		</li>
	</script>
	
	<!--jQuery-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
	</script>

	  <!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>

	  <!-- underscore -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
	</script>

	  <!-- custom script -->
	<script type="text/javascript" src="../scripts/script.js">
	</script>
	<script type="text/javascript" src="../scripts/nav.js">
	</script>
	
</body>
</html>