<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FLOFL</title>
	<!--bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
	
	<div class="container">

		<!--Title Row -->
		<div class="row">
				<!--FLOFL LOGO -->
				<div class="col.md-12">.col-md-12</div>
		</div>

		<!--Two columns(House/Techno) -->
		<div class="row">
			<!--House column -->
		  	<div class="col-md-6">.col-md-6</div>
			<!--Techno column -->
		  	<div class="col-md-6">.col-md-6</div>
		</div>

	</div>
	
</body>
</html>