<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FLOFL</title>
	<!--bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- custom styles -->
	<link rel="stylesheet" href="/styles/stylelanding.css">
</head>
<body>
	
	<div class="container">

		<!--Title Row -->
		<div class="row">
				<!--FLOFL LOGO -->
				<div id="logo" class="col.md-12"><center><img <a href="<a href="http://s51.photobucket.com/user/esbenbsmith/media/FLOFLlogo_zpsesqjuzxi.jpg.html" target="_blank"><img src="http://i51.photobucket.com/albums/f364/esbenbsmith/FLOFLlogo_zpsesqjuzxi.jpg" border="0" alt=" photo FLOFLlogo_zpsesqjuzxi.jpg"/></a>"></a></center></div>
		</div>

		<!--Two columns(House/Techno) -->
		<div class="row">
			
			<!--House column -->
			<div class="col-md-6"  id="house" >
		  		<a href="http://localhost:3000/house" > 
		  			<!--link to indexhouse.html -->
		  			<h2 id="housebutton">House</h2>
		  		</a>
		  	</div>
		  	<div id="techno" class="col-md-6" >
		 	
			<!--Techno column -->
		 <a href="http://localhost:3000/techno"  >
		  		<!--link to indexhouse.html -->
		  		<h2 id="technobutton">Techno</h2>
		  	

		 </a>
		</div>

	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	  <!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <!-- underscore -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	  <!-- custom script -->
	<script type="text/javascript" src="/scripts/script.js"></script>
	
</body>
</html>