<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FLOFL</title>
	<!--bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/Users/esbenbadensmith/dev/FLOFL/public/styles/stylelanding.css">
</head>
<body>
	
	<div class="container">

		<!--Title Row -->
		<div class="row">
				<!--FLOFL LOGO -->
				<div id="logo" class="col.md-12"><center><img src="/Users/esbenbadensmith/dev/FLOFL/images/FLOFLlogo.jpg"</center></div>
		</div>

		<!--Two columns(House/Techno) -->
		<div class="row">
			<!--House column -->
		  	<div id="house" class="col-md-6" >
		  		<!--link to indexhouse.html -->
		  		<h2 id="housebutton">House</h2>
		  	</div>
			<!--Techno column -->
		  	<div id="techno" class="col-md-6" >
		  		<!--link to indexhouse.html -->
		  		<h2 id="technobutton">Techno</h2>
		  	</div>
		</div>

	</div>
	
</body>
</html>