body {
	background-color:black;
}
a {
	color:black;
}

li {
	color:white;
}

.btn {
	color:black;
	font-weight: bold;
}
.navbar {
	background-color:black;
}


#toplogo {
	padding-top:80px;
}
#robot {
	border-radius:10px;
	max-height:300px;
}

#signup {
	background-color: #00CCFF;
	border-radius: 5px;
	color: black;
}

#login {
	background-color: #00CCFF;
	border-radius: 5px;
	color: black;
}

