body {
	background-color:black;
}
a {
	color:black;
}

.btn {
	color:black;
	font-weight: bold;
}
.navbar {
	background-color:black;
}


#toplogo {
	padding-top:80px;
}
#robot {
	border-radius:10px;
	max-height:300px;
}
