body {
	background-color: #00CCFF;
}

a {
	color:black;
	background-color: #00CCFF;
}

ul {
	padding:15px;
}

.btn {
	color:black;
	font-weight: bold;
}
.navbar {
	background-color:#00CCFF;
}

.house {
	background-color: #00CCFF;
}
#about {
	color:black;
	background-color: #00CCFF;
}

#toplogo {
	padding-top:80px;
}

#robot {
	max-height:300px;
}

#signup {
	background-color: #00CCFF;
	color: black;
}

#login {
	background-color: #00CCFF;
	color: black;
}



