body {
	background-color:black;
}
a {
	color:black;
}

li {
	color:white;
}

.btn {
	color:black;
	font-weight: bold;
}
.navbar {
	background-color:black;
}


#toplogo {
	padding-top:80px;
}
#robot {
	max-height:300px;
}
#about {
	background-color: black;
	color: white;
}

#signup {
	background-color: black;
	color: white;
}

#login {
	background-color: black;
	color: white;
}

