body {
	background-color:black;
}

h1 {
	font-size:60px;
	color:#FFFFFF;
}

h2 {
	font-size:48px;
	padding:200px;
}
li {
	color:white;
	padding-right:10px;
}
.navbar {
	background-color: black
}
#logo {
	background-color:black;
}
#house {
	height:500px;
	
	background-color: #00CCFF;
}
#techno {
	height:500px;
	
	background-color: black;
}

#housebutton {
	color:black;

}

#technobutton {
	color:#00CCFF;
}
#user{
	color:white;
}
#about {
	background-color: black;
	color: white;
}
#signup {
	color:white;
	background-color: black;
}
#login {
	color:white;
	background-color: black;
}