body {
	background-color: #00CCFF;
}
a {
	color:black;
	background-color: #00CCFF;

}

.btn {
	color:black;
	font-weight: bold;
}
.navbar {
	background-color:#00CCFF;
}

.house {
	background-color: #00CCFF;
}

#toplogo {
	padding-top:80px;
}
#robot {
	border-radius:10px;
	max-height:300px;
}
