body {
	background-color:orange;
}
h2 {
	color:#000000;
}
h3 {
	color:#000000;
	font-size:14px;
}
p {
	color:#000000;
	font-size:16px;
}
.btn {
	margin-top:20px;
	color:black;

}
.navbar {
	background-color:orange;
}
.techno {
	background-color:black;
}
#aboutlogo {
	padding-top:100px;
}
#toplogo {
	padding-top:100px;
}

#aboutpic {
	height:200px;
}
#suggestions {
	padding:20px;
	background-color:#FFFFFF;
	color:black;
	border-radius:5px;
}
.mainimage {
	max-height:200px;
}

#about {
	background-color: orange;
	color: black;
}

#signup {
	background-color: orange;
	color: black;
}

#login {
	background-color: orange;
	color: black;
}